@using JersyHub.Application.ViewModel
@using JersyHub.Domain.Entities
@model InventoryVM

@{
    var countries = ViewBag.Products as string[];
}

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Inventory Data</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label for="nameField">Product Name</label>
            <div id="nameField"></div>
            <input type="hidden" id="nameInput" name="Inventory.ProductId" />
        </div>

        <div class="mb-3">
            <label for="stockField">Stock Quantity</label>
            <div id="stockField"></div>
            <input type="hidden" id="stockInput" name="Inventory.QuantityInStock" />
        </div>

        
        <div class="mb-3">
            <label for="distributerField">Distributer Name</label>
            <div id="distributerField"></div>
            <input type="hidden" id="distributerInput" name="Inventory.Distributer" />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Inventory" asp-action="Index" class="btn btn-outline-secondary">Back To Inventory</a>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>

        var products = @Html.Raw(Json.Serialize(ViewBag.Products));
        $(function () {
            $("#nameField").dxSelectBox({
                items: @Html.Raw(Json.Serialize(Model.ProductList)),
                displayExpr: "text",
                valueExpr: "value",
                placeholder: '--Select Product--',
                onValueChanged: function (e) {
                    $("#nameInput").val(e.value);
                }
            }).dxValidator({
                validationRules: [
                    { type: "required", message: "Please Enter the Product" }
                ]
            });



             $("#stockField").dxNumberBox({
                placeholder: 'Enter total stock',
                showSpinButtons: true,
                min: 1,
                onValueChanged: e => $("#stockInput").val(e.value)
            }).dxValidator({
                validationRules: [
                    { type: "required", message: "Stock is required" },
                    { type: "range", min: 1, max: 100, message: "Must be between 1 and 100" }
                ]
            });

             $("#distributerField").dxTextBox({
                placeholder: 'Enter distributer name',
                showClearButton: true,
                onValueChanged: e => $("#distributerInput").val(e.value)
            }).dxValidator({
                validationRules: [
                    { type: "required", message: "Distributer name is required" }
                ]
            });

           

            $('form').on('submit', function (e) {
                if (!DevExpress.validationEngine.validateGroup().isValid) {
                    e.preventDefault();
                }
            });
        });
    </script>
}




































@* @using JersyHub.Domain.Entities
@model Category

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LeagueCountry">League Country</label>
            <input asp-for="LeagueCountry" class="form-control" />
            <span asp-validation-for="LeagueCountry" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder">Display Order</label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <button  type="Submit" class="btn btn-primary ">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary ">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} 
 *@